@charset "utf-8";

body{
    margin:0;
    padding:0;
}
header{
    background-color:#99ccff;
}
header h1{
    color:white;
    width:960px;
    margin:auto;
    line-height:2;
}
header h1 a{
    color:white;
    text-decoration:none;
}
header h1 a:hover{
    text-decoration:underline;
}

main{
    width:960px;
    margin:auto;
}
h2{
    color:navy;
}
table{
    width:100%;
    border: solid 1px #444;
    border-collapse: collapse;
}
table th, table td{
    border: solid 1px #444;
    font-size:85%;
    padding:5px;
}
table th{
    background-color:#9cf;
}
table tr:hover{
    background-color:rgb(255, 255, 140);
}
.req{
    background-color:brown;
    color:#fff;
    display:inline-block;
    padding:3px;
    border-radius:3px;
}
input[type='text'],
input[type='email'],
input[type='tel']{
    width:95%;
}

footer{
    background-color:blue;
}
footer p{
    color:white;
    width:960px;
    margin:auto;
    text-align:right;
    line-height:2;
}

